{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} Mountain-SPA {% endblock %}

{% block content %}
<hr>

<center><a>Записаться</a>

    <hr>

    <a>Скидка 10% на следующую процедуру</a>

    <hr>

    <a>БД SPA-ритуалы</a>
    <div><a>БД Уход за телом</a></div>

    <hr>

    <a>Скачать файл меню</a>


    <hr>
    <a>инфа про мастеров</a>


    <a href="url {{ masters }}">Наши мастера</a>

    <hr>
    <div>Сделать слева инфу про расположение</div>
    <div>Сделать слева инфу про расположение</div>

    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aca2f16487748ee82e73de55b7e848d6b3a41562b38ec16e338a177057ffdf6dc&amp;width=744&amp;height=637&amp;lang=ru_RU&amp;scroll=true"></script>

    <hr>
</center>
{% endblock %}