{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} Sea-SPA {% endblock %}

{% block content %}
<hr>

<center><a>Записаться</a>

<hr>

<a>Сделать как переход по странице вниз (как лендинг)"ВСЕ ПРОЦЕДУРЫ"</a>

<hr>

<a> сделать БД "новые процедуры"</a>

<hr>

<a>Сделать как переход по странице вниз (как лендинг) "ВСЕ ПРОЦЕДУРЫ"</a>

<hr>

<a>вставить карту</a>

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aca2f16487748ee82e73de55b7e848d6b3a41562b38ec16e338a177057ffdf6dc&amp;width=744&amp;height=637&amp;lang=ru_RU&amp;scroll=true"></script>

<hr>
<a>инфа про мастеров</a>
<a href="url {{ masters }}">Наши мастера</a>

<hr>

<div>работа с бд</div>
<a>SPA-ритуалы</a>
<div><a>уход за телом</a></div>


</center>
{% endblock %}