{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} Mountain-SPA {% endblock %}

{% block content %}
<hr>

<center><a>Записаться</a>

    <hr>

    <a>Скидка 10% на следующую процедуру</a>

    <center><a>Наши ритуалы</a></center>
    {% for bd_rts in bd_rt %}
    <div>
        <img src="{{ bd_rts.photo.url }}" alt="" width="200" height="200"/>
    <h2>{{ bd_rts.title }}</h2>
    <h2>{{ bd_rts.content }}</h2>
    <h2>{{ bd_rts.time }}</h2>
    <h2>{{ bd_rts.price }}</h2>
    <h2><button type="submit">Записаться</button></h2>
    </div>
    {% endfor %}

    <hr>

        <center><a>Уход за телом</a></center>
    {% for bd_bcs in bd_bc %}
    <div>
        <img src="{{ bd_bcs.photo.url }}" alt="" width="200" height="200"/>
    <h2>{{ bd_bcs.title }}</h2>
    <h2>{{ bd_bcs.content }}</h2>
    <h2>{{ bd_bcs.time }}</h2>
    <h2>{{ bd_bcs.price }}</h2>
    <h2><button type="submit">Записаться</button></h2>
    </div>
    {% endfor %}

    <hr>

    <a>Скачать файл меню</a>


    <hr>
    <a>инфа про мастеров</a>


    <a href="url {{ masters }}">Наши мастера</a>

    <hr>
    <div>Сделать слева инфу про расположение</div>

    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aca2f16487748ee82e73de55b7e848d6b3a41562b38ec16e338a177057ffdf6dc&amp;width=744&amp;height=637&amp;lang=ru_RU&amp;scroll=true"></script>

    <hr>
</center>
{% endblock %}